.app {
  display: flex;
}
.main {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}
.map {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
}

/* .flat-picture {
  height: 200px;
  background-position: center;
  background-size: cover;
} */
/* .flat-title {

} */
